.container {
  background-color: black;
  display: grid;
  grid-template-rows: 1fr 4fr;
  height: 500px;
  width: 400px;
  gap: 10px;
}

.top {
  color: white;
  font-weight: bold;
  background-color: blueviolet;
  padding: 17.5px;
  text-align: center;
}

.game {
  background-color: blueviolet;
  display: grid;
  grid-template-rows:  repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

button {
  height: 100%;
  width: 100%;
  background-color: white;
}

.x {
  background-color: rgb(207, 204, 204);
  background-image: url("icons/x.svg");
}

.o {
  background-color: rgb(207, 204, 204);
  background-image: url("icons/o.svg");
}

.reset {
  width: 50px;
  height: 20px;
}