.container {
  display: grid;
  grid-template-rows: 1fr 4fr;
  height: 500px;
  width: 400px;
}

.top {
  background-color: peru;
  padding: 20px;
  text-align: center;
}

.game {
  background-color: black;
  display: grid;
  grid-template-rows:  repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

button {
  height: 100%;
  width: 100%;
  background-color: white;
}

.x {
  background-color: aqua;
}

.o {
  background-color: red;
}

.reset {
  width: 50px;
  height: 20px;
}